h1{
    background-color: #222831;
    border-color: #ffffff;
    
}

body{
    background: #40394a;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
.first{
  margin: 30px;
  padding : 20px;
  border: #263244;
    background-color: #91684a;
    border-style: inset;
    border-width: thick

}
 


#simply{
    background-color: #91684a;
    border-style: inset;
    border-width: thick
 }


 #two{
     background-color: #222831 ;
 }