h1{
    background-color: #493323;
    border-color: #ffffff;
}


.first{
    background-color: #91684a;
    border-style: inset;
    border-width: thick
}
 

#simply{
    background-color: #91684a;
    border-style: inset;
    border-width: thick
 }


 #two{
     background-color: #91684a ;
 }